RewriteEngine On

RewriteRule (^|/)\.(?!well-known) - [F]
RewriteCond %{REQUEST_URI} \.(bak|sql|md|log)$ [NC]
RewriteRule ^ - [F]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^ index.php [L]

Options -Indexes
